*{
    color: white;
    background-color: blueviolet;
    text-align: left;
}
.links {
    color: black;
}
.inst {
    color: aliceblue;
}
img {
    width: 780px;
    height: auto;
}
.pagehead {
    color: violet;
}
#list-head {
    color: wheat;
    background-color: black;
    font-weight: 700;
    
}
